.crm-v1-header{
	font-size: 20px;
	line-height: 20px;
}

.crm-v1-hotfix-header{
	font-size: 25px;
	line-height: 25px;
}
.crm-v1-hotfix-header-B{
	font-size: 25px;
	line-height: 25px;
}


.crm-v2-header{
	font-size: 30px;
	line-height: 30px;
}

.A-v2-header-bugfix{
	font-size: 35px;
	line-height: 35px;
}
.B-v2-header-bugfix{
	font-size: 40px;
	line-height: 40px;
}


/**
 * 商机
 */
.B-crm-v2-header{
	background: #f60;
}
.B-crm-v2-foot{
	background: #f60;
}
.A-crm-v2-hotfix-header{
	background: #000;	
}
.B-crm-v2-hotfix-header{
	background: #000;	
}

.B-crm-v2-hotfix-header111{
	background: #000;	
}
.A-add-1{
	
}

